body {
    background-size: cover;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.heading {
    width: 100%;
    margin: 0px;
    font-size: 30px;
    box-shadow: 5px 5px 5px lightsteelblue;
    padding: 15px;
}

.note {
    font-size: 18px;
}

#song_name {
    font-size: 20px;
    padding: 10px;
    box-shadow: 3px 3px 5px lightgreen;
}

canvas {
    border: 5px solid lightpink;
    box-shadow: 3px 3px 5px darksalmon;
    animation: 2s border alternate infinite;
    border-radius: 20px;
}

@keyframes border {
    from {
        border: 5px solid lightpink;
        box-shadow: 3px 3px 5px darksalmon;
    }

    to {
        border: 5px solid plum;
        box-shadow: 3px 3px 5px darkorchid;
    }
}
